/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Diseño fondo de la pagina */

body{
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
    background-image: url(./img/fondopantalla.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}


.principal {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.secundario {
    text-align: center;
    padding-top: 20px;
}
  
.secundario h1 {
     color: white;
     font-size: 2.5rem;
}
    
.btn-contenedor{
    margin: 50px;
    text-align: center;
}

.btn{
    height: 50px;
    width: 180px;
    border-radius: 6px;
    border:none;
    font-size: 2rem;
    padding: 8px;
    cursor: pointer;
    background-color: red;
    font-weight: 500;
    transition: 300ms;
    font-weight:600;
    opacity: 0.75;
}

.btn:hover{
    background-color:#8e1c00;
}

a {
    text-decoration: none;
    color: white;
}

#contador {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
  
#contador div {   
    border: 2px red solid;
    border-radius: 5px;
    background: #000;
    opacity: 0.80;
    margin: 25px;
    color: white;
    width: 200px;
}
  
  
#contador .texto {
    display: block;
    font-size: 2.5rem;
    color: white;
    background-color: red;
    width:100%;
    font-weight:600;
}

@media (max-width: 600px) {
    .secundario h1 {
        font-size: 2rem;
    }

    #contador {  
        font-size: 3.5rem;
        
    }
    
    #contador .texto {
        font-size: 2rem;
        width:100%;
        font-weight:600;
    }
    
    .btn{
        font-size: 1.5rem;
        padding: 8px;

    }
}

@media (max-width: 453px) {
    .secundario h1 {
        font-size: 1.5rem;
    }

    #contador {  
        font-size: 3rem;
    }
    
    #contador .texto {
        font-size: 1rem;
        width:100%;
        font-weight:600;
    }
        
    .btn{
        font-size: 1rem;
        padding: 8px;

    }
}
