*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-turn-body {
  font-family: "Poppins", sans-serif;
  background-color: #302D2D;
  height: 100vh;
  align-items: center;
  display: grid;
  justify-content: center;
}

.card-turn {
  width: 450px;
}

.card-content-turn {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 5s;
  height: 450px;
  width: 450px;

}

.card-turn:hover .card-content-turn {
  transform: rotateY(180deg);
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: white;
}
.card-front {
  background-image: url(./assets/img/proyectos.png.png);
  align-items: center;
}
.card-front::before {
  content: "";
  position: absolute;
  inset: 1rem;
  border: 3px solid yellow;
  border-radius: 50%;
  transform: translateZ(2rem);
}

.card-back::before {
    content: "";
    position: absolute;
    inset: 1rem;
    border: 3px solid yellow;
    border-radius: 50%;
    transform: translateZ(2rem);
}

.title {
  font-family: "Teko", sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 85%;
  transform: translateZ(4.4rem);
}
.sub-title {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  transform: translateZ(3rem);
}

.text-front {
    text-shadow: yellow 1px 0 10px;
    color: #1a1a1a;
}

.upDown {
    margin-bottom: 100px;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: yellow 1px 0 10px;;
}

.card-back {
    border-radius: 50%;
    background-color: #551010;
    transform: rotateY(180deg);
    gap: 0.5rem;
}
.back-title {
  font-family: "Teko", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: yellow;
  text-transform: uppercase;
  align-self: center;
  transform: translateZ(4.4rem);
}

.card-back span {
  font-weight: 600;
  color: yellow;
}

.text-back {
    text-align: justify;
    transform: translateZ(4rem);
    margin: 0 30px ;
}

.btn {
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 2.2rem;
  color: yellow;
  border: 2px solid white;
  border-radius: 100px;
  text-align: center;
  align-self: center;
  margin-top: 1rem;
 transform: translateZ(4rem); 
  transition: 0.3s ease;
}
.btn:hover {
  background-color: rgb(185, 164, 0);
  color: white;
  border: 2px solid rgb(185, 164, 0);
}

