@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
  height: 100%;   
}
body {
  align-items: center;
  background: rgba(0, 0, 0, 0.91);
  display: flex;

  justify-content: center;
  overflow: hidden;
  perspective: 1800px;

}

.box {
  perspective: 1800px;
  transform-style: preserve-3d;
}

.card {
  display: flex;
  align-items: flex-end;
  transform-style: preserve-3d;
  transform: translatez(35px);

}

.shadow {
  background-color: black;
  border-radius: 50%;
}

.shadow:before,
.shadow:after{
  content:'';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #fb0094,#0000ff, #00ff00, #ffff00,#ff0000, #fb0094,#0000ff, #00ff00, #ffff00,#ff0000);
  background-size: 400%;
  border-radius: 50%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -2;
  animation: animate 20s linear infinite;
}
  
.shadow:after {
    filter: blur(20px);
}
  
 @keyframes animate {
  0% {
    background-position: 0 0;
  }
    50% {
    background-position: 400% 0;
  }
    100% {
    background-position: 0 0;
  }
}
  
.card_img {
  position: absolute;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.card_bg {
  width: 420px;
  filter: blur(4px);

}

.card_person .card_img {
  top: 18px;
  height: 102%;
}

.text {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-left: -60px;

  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #03f, 0 0 30px #03f, 0 0 40px #03f;
  
  color: #fff;
  border: 1px solid #03f;
  box-shadow: 0 0 40px #03f;
  padding: 10px 20px;
  border-radius: 20px;
  transform: translatez(35px);
  
}